.wrapper {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

span {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.circle {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    background-color: red;
}

.square {
    width: 10rem;
    height: 10rem;
    background-color: turquoise;
}

.rectangle {
    width: 15rem;
    height: 10rem;
    background-color: violet;
}

.triangle {
    width: 0;
    height: 0;
    border-left: 5rem solid transparent;
    border-right: 5rem solid transparent;
    border-bottom: 10rem solid blueviolet;
}

.triangle-leftshape {
    width: 0;
    height: 0;
    border-right: 10rem solid rosybrown;
    border-bottom: 5rem solid transparent;
    border-top: 5rem solid transparent;
}

.square2 {
    width: 20px;
    height: 20px;
    float: left;
    background-color: lightcoral;
    shape-outside: inset(20px 5px 30px 10px);
}

.triangle-down {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 100px solid red;
}

.parallelogram {
    width: 10rem;
    height: 10rem;
    transform: skew(20deg);
    background-color: antiquewhite;
}

.trapezoid {
    border-bottom: 10rem solid bisque;
    border-left: 5rem solid transparent;
    border-right: 5rem solid transparent;
    width: 5rem;
}

.diamond {
    margin: 8rem;
    width: 10rem;
    height: 10rem;
    background-color: chartreuse;
    transform: rotate(45deg);
    transform-origin: 0 100%;
}

.egg-shape {
    width: 5rem;
    height: 10rem;
    border-radius: 50% 50% 50% 50%/60% 60% 40% 40%;
    ;
    background-color: darkgray;
}

.talk-bubble {
    width: 10rem;
    height: 5rem;
    border-radius: 10px;
    background-color: darkorchid;
    position: relative;
}

.talk-bubble::before {
    content: "";
    position: absolute;
    border-right: 2rem solid darkorchid;
    border-top: 1rem solid transparent;
    border-bottom: 1rem solid transparent;
    top: 1.5rem;
    left: -1rem;
}